@charset "utf-8";
@import 'variables.scss';

ul {
  list-style: none;
}

.bottom-btn{
  width:70px;
  height:70px;
  background:linear-gradient(135deg, #5345db 50%, #4132cf 50%);
  border-radius: 35px;
  position:fixed;
  right:20px;
  bottom:20px;
  color:#fff;
  font-weight: 600;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size:12px;
  z-index: 5;
  &:hover{
    color:#fff;
  }
  .icon{
    width:25px;
    height:25px;
    margin-bottom:3px;
    &-map{
      background:url(../static/images/map.svg)no-repeat center / 100%;
    }
    &-list{
      background:url(../static/images/view_grid.svg)no-repeat center / 100%;
    }
  }
}

#__layout > div{
  position:relative;
  max-width: 760px;
  margin: 0 auto;
  background-color: #e4e8f4;
}

.wrap {
  background-color: #e4e8f4;
  max-width: 760px;
  position: relative;
  min-height: calc(100vh - 50px);
  margin: 0 auto;
  color:$textCol1;
}

.content{
  padding:20px;
}

.header {
  position: sticky;
  left: 0;
  top: 0;
  background-color: $colPrimary;
  padding: 8px 20px 14px;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 4px 15px rgba(44, 39, 100, 48%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  &-menu {
    width: 28px;
    height: 28px;
    background: url(../static/images/list.svg) no-repeat center / 100%;
    &--list{
      margin-top:30px;
      .item{
        margin-bottom:20px;
        .btn{
          color:$textCol1;
          font-size:20px;
          width:100%;
          font-weight: 600;
        }
      }
    }
    &--top{
      text-align: right;
      color:#999;
      .el-select{
        width:120px;
        display:block;
        margin:5px 0 0 auto;
      }
    }
  }
  &-logo {
    width: 120px;
    height: 24px;
    background: url(../static/images/logo.svg) no-repeat center / 100%;
  }
}
.main {
  &-header {
    z-index: 1;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px 20px 40px;
    border-radius: 0 0 0 60px;
    background-color: $colPrimary;
    .search-wrap {
      position: absolute;
      left: 5%;
      bottom: -15px;
      width: 90%;
      z-index: 1;
    }
    &:before,
    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 100px;
      position: absolute;
      right: 0;
      bottom: -100px;
    }
    &:before {
      background-color: $colPrimary;
    }
    &:after {
      background-color: #e4e8f4;
      border-radius: 0 50px 0 0;
    }
  }
  &-wrap {
    padding: 120px 20px 10px;
  }
  &-menu {
    .menu-list {
      display: flex;
      position: relative;
      z-index: 1;
      margin-bottom: 30px;
      &--item {
        width: 100%;
        height: 100px;
        background-color: #fff;
        border: 3px solid $colPrimary;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
        .icon{
          width:71px;
          height: 62px;
          background-repeat: no-repeat;
          background-position: center;
          background-size:100%;
          &.festival{
            background-image: url(../static/images/festival.svg);
          }
        }
      }
    }
  }
  &-list {
    &--wrap {
    }
    &--tit {
      display: flex;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
      position:relative;
      .right{
        position:absolute;
        right:0;
        top:2px;
        color:#999;
        font-size:15px;
      }
      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background: url(../static/images/stars.svg) no-repeat center / 100%;
        margin-right: 5px;
      }
    }
  }
}

.search{
  &-wrap {
    position: relative;
    .el-input__inner {
      padding-right: 100px;
      box-shadow: 0 4px 7px rgba(182, 179, 213, 0.5);
    }
    .search-btn {
      position: absolute;
      right: 15px;
      top: 7px;
      z-index: 1;
      font-size: 24px;
    }
  }
  &-top{
    display:flex;
    align-items: center;
    width:100%;
    .left{
      width:calc(100% - 50px);
      margin-right:10px;
    }
    .btn-filter{
      width:40px;
      height: 40px;
      background: linear-gradient(135deg, rgba(83,69,219,1) 50%, rgba(65,50,207,1) 50%);
      color:#fff;
      border-radius: 10px;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size:12px;
      font-weight: 600;
      &:before{
        content:"";
        display:block;
        width:22px;
        height:15px;
        background:url(../static/images/filter.svg)no-repeat center / 100%;
      }
    }
  }
}

.thumb-list {
  display: flex;
  flex-wrap: wrap;
  &--item {
    width: calc(50% - 10px);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    &:nth-child(even) {
      margin-left: 20px;
    }
    .thumb {
      width: 100%;
      height: 150px;
      background-color:#000;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .text {
      margin-top: 10px;
      text-align: center;
      .tit {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
        height: 41px;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: keep-all;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .info {
        color: #999;
      }
    }
  }
  &.list{
    .thumb-list--item{
      width:100%;
      margin-left:0;
      display:flex;
      align-items: center;
      .thumb{
        width:35%;
        height:77px;
        margin-right:15px;
        max-width: 120px;
      }
      .text{
        width:calc(65% - 15px);
        margin-top:0;
        text-align: left;
      }
    }
  }
  &.image{
    .thumb-list--item{
      width:100%;
      margin-left:0;
      .thumb{
        height:auto;
        background-color:#fff;
      }
    }
  }
}

.list{
  &-option{
    margin:20px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    .right{
      .btn{
        width:30px;
        height:30px;
        border-radius: 15px;
        background-color:#CBCCDB;
        background-repeat: no-repeat;
        background-size:20px;
        background-position: center;
        margin-left:10px;
        &-list{
          background-image: url(../static/images/view_list.svg);
        }
        &-normal{
          background-image: url(../static/images/view_grid.svg);
          background-size:17px;
        }
        &-image{
          background-image: url(../static/images/view_image.svg);
          background-size:18px;
        }
        &.active{
          background-color:$colSub;
        }
      }
    }
  }
}

.text-check{
  cursor: pointer;
  input{
    width:0;
    height:0;
    position:absolute;
    &:checked + .text{
      background-color:$colSub;
    }
  }
  .text{
    display:flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    padding:0 15px 0 35px;
    height:30px;
    background:url(../static/images/check.svg)no-repeat 13px center / 15px;
    background-color:#CBCCDB;
    border-radius: 20px;
    font-weight: 600;
  }
}

.modal{
  position:fixed;
  left:50%;
  transform:translateX(-50%);
  bottom:0;
  width:100vw;
  max-width: 760px;
  height:100%;
  z-index: 100;
  display:none;
  &.show{
    display:block;
  }
  &-dim{
    background-color:rgba(000, 000, 000, 0.1);
    width:100%;
    height:100%;
  }
  &-con{
    background-color:#fff;
    padding:30px;
    position:absolute;
    width:100%;
    box-shadow: 0 -10px 20px rgba(000, 000, 000, 0.1);
    &.full{
      width:90%;
      height:90%;
      left:5%;
      top:5%;
      overflow:auto;
      border-radius: 20px;
      padding:20px;
      background-color:#e4e8f4;
      box-shadow: 0 5px 20px rgba(000, 000, 000, 0.2);
      .btn-close{
        right: calc(5% + 10px);
        top: calc(5% + 10px);
        position: fixed;
        z-index: 10;
        box-shadow: 0 5px 10px rgba(000, 000, 000, 0.2);
      }
    }
    &.bottom{
      border-radius: 40px 40px 0 0;
      left:0;
      bottom:0;
    }
    &.right{
      height:100%;
      width:60%;
      right:0;
      top:0;
      border-radius: 40px 0 0 40px;
      .btn-close{
        left:-50px;
        top:20px;
      }
      .el-button{
        float:right;
        margin-bottom:20px;
      }
    }
    .btn-close{
      position:absolute;
      right:25px;
      top:-50px;
      background-color:#fff;
      border-radius: 20px;
      width: 40px;
      height: 40px;
      font-size: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: monospace;
    }
  }
}

.filter-list{
  margin:15px 0 -15px;
  display:flex;
  flex-wrap: wrap;
  .label{
    padding:5px 10px 5px 25px;
    background:url(../static/images/filter_bl.svg)no-repeat 5px center / 20px;
    border-radius: 20px;
    border:2px solid $colPrimary;
    background-color:#fff;
    display:flex;
    align-items: center;
    margin:0 5px 5px 0;
    .btn-delete{
      background-color:#ccc;
      border-radius: 20px;
      width:20px;
      height:20px;
      color:#fff;
      font-weight: 600;
      display:flex;
      justify-content: center;
      align-items: center;
      margin-left:5px;
    }
    &.reset{
      background:#fff;
      padding:5px 10px;
      border-color:$colPink;
    }
  }
}

.detail{
  &-wrap{
    .el-menu-demo{
      margin:20px 0;
      &.sticky{
        width:calc(100% + 40px);
        position:sticky;
        left:0;
        top:50px;
        transform: translateX(-20px);
        z-index: 10;
      }
    }
  }
  &-img{
    width:calc(100% + 40px);
    position:relative;
    left:-20px;
    margin-bottom:20px;
    img{
      width:100%;
    }
    .el-carousel__arrow{
      background-color:#fff !important;
      z-index: 9;
    }
    .el-carousel__indicator--horizontal{
      padding:0;
      margin:0 10px 20px;
    }
    .el-carousel__button{
      width:15px;
      height:15px;
      border-radius: 10px;
      opacity: 1;
    }
    .el-carousel__indicator.is-active button{
      background-color:$colPrimary;
    }
  }
  &-info{
    .tit{
      font-size:20px;
      font-weight: 600;
      margin:10px 0;
    }
    .info{
      font-size:16px;
    }
    .el-rate{
      margin:5px 0 10px;
    }
  }
  &-con{
    font-size:15px;
    margin-bottom:20px;
    word-break: keep-all;
    line-height: 1.5;
    &:last-child{
      margin-bottom:0;
    }
    .line{
      margin-bottom:5px;
    }
    &--tit{
      font-size:18px;
      font-weight: 600;
      margin:10px 0;
      position:relative;
      .right{
        position: absolute;
        right: 0;
        top: 2px;
        color: #999;
        font-size: 15px;
      }
    }
  }
}

.review{
  &-wrap{
    background-color:#fff;
    margin-bottom:10px;
    .info{
      display:flex;
      align-items: center;
      padding:15px;
      border-bottom:1px solid #CBCCDB;
      .img{
        margin-right:10px;
      }
    }
    .con{
      padding:20px;
      word-break: break-all;
      line-height: 1.5;
    }
  }
}

.table{
  width:100%;
  border-spacing: 0;
  border:1px solid #CBCCDB;
  border-bottom:none;
  th, td{
    font-size:15px;
    padding:10px;
    background-color:#fff;
    border:none;
    border-bottom:1px solid #CBCCDB;
    word-break: break-all;
  }
  th{
    text-align: left;
    background-color:#CBCCDB;
    border-bottom:1px solid #a8a9bb
  }
  tr:last-child th{
    border-bottom:1px solid #CBCCDB;
  }
}

.map{
  &-wrap{
    display:flex;
    flex-direction: column;
    height:calc(100vh - 50px);
    overflow:auto;
    background-color:#fff;
  }
  &-view{
    width:100%;
    min-height: 50%;
    height:100%;
    transition:all .3s;
  }
  &-list{
    height:fit-content;
    background-color:#fff;
    padding:20px;
    box-shadow: 0 -10px 20px rgba(000, 000, 000, 0.2);
    z-index: 1;
    position:relative;
    height:50%;
    display: flex;
    flex-direction: column;
    transition:all .3s;
    &.active{
      height:60px;
    }
    .scroll{
      overflow-y:auto;
      height: 100%;
    }
    .btn-fold{
      position:absolute;
      right:calc(50% - 30px);
      top:-30px;
      background-color:#fff;
      padding:10px 22px;
      width:60px;
      height:50px;
      border-radius: 20px 20px 0 0;
      outline:none;
      &:after{
        content:"";
        display:block;
        width:0;
        height:0;
        border-top:10px solid #999;
        border-left:8px solid transparent;
        border-right:8px solid transparent;
        border-bottom:10px solid transparent;
      }
      &.active{
        &:after{
          border-top:10px solid transparent;
          border-bottom:10px solid #999;
          position:relative;
          top:-10px;
        }
      }
    }
    &--tit{
      font-size:18px;
      font-weight: 600;
      margin-bottom:20px;
    }
    .item{
      display:flex;
      margin-bottom:15px;
      padding-bottom:15px;
      border-bottom:1px solid #CBCCDB;
      align-items: center;
      &:last-child{
        border-bottom:none;
        margin-bottom:0;
        padding-bottom:0;
      }
      .img-wrap{
        width:30%;
        min-width: 30%;
        max-width: 30%;
        height: 80px;
        background-color:#000;
        margin-right:15px;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .txt-wrap{
        color:#999;
        .tit{
          font-size:16px;
          font-weight: 600;
          color:$textCol1;
          margin-bottom: 5px;
          max-height: 41px;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: keep-all;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .el-button{
          margin-top:10px;
        }
      }
    }
  }
}

.nodata{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:100px 0;
  font-size:18px;
  color: #b3b4bf;
  font-weight: 600;
  img{
    margin-bottom:20px;
    width:90px;
  }
  &.type2{
    padding:30px 0;
    img{
      width:50px;
    }
  }
}

.input{
  &-label{
    font-size:16px;
    font-weight: 600;
    & + .input-wrap{
      margin-top:10px;
    }
  }
  &-wrap{
    display:flex;
    align-items: center;
    & > *{
      margin-right:10px;
      width:100% !important;
      &:last-child{
        margin-right:0;
      }
      &.text{
        width:auto !important;
        color:#999;
      }
    }
    & + .input-label{
      margin-top:10px;
    }
  }
}

.btn{
  &-wrap{
    margin-top:20px;
    button{
      width:100%;
    }
  }
}

//el

.el-button.el-button--success {
  color: #fff;
  background-color: $colSub !important;
  font-weight: 600;
  box-shadow: 4px 4px 15px rgba(000, 000, 000, 0.3);
  outline: none;
  border: none;
}

.el-button--primary{
  color:#fff !important;
  font-weight: 600 !important;
}

.el-input__inner{
  border-radius: 10px !important;
}

.el-select .el-input__inner{
  border-color:#CBCCDB;
}
.el-select .el-input .el-select__caret{
  color:#9294a5 !important;
}

.el-menu-demo{
  display:flex;
}
.el-menu-demo .el-menu-item{
  font-size:16px;
  flex:1;
  text-align: center;
}

.gm-style .gm-style-iw-c{
  padding:20px;
  .gm-style-iw-d > div{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    img{
      width:50px;
      height: 50px;
      margin-right:10px;
    }
  }
  i{
    font-size:14px;
    font-style: normal;
    font-weight: 600;
    word-break: keep-all;
  }
  button{
    outline:none;
    top:0 !important;
    right:0 !important;
    span{
      width:18px !important;
      height:18px !important;
      background-size:100% !important;
    }
  }
}

.el-button--info.is-plain{
  color:#666 !important;
  background: #f4f4f5 !important;
  border-color: #d3d4d6 !important;
}

.el-carousel__arrow i{
  font-size:18px;
  font-weight: 600;
}