// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

//font
$font1 : "NotoSansKR";
$font2 : "NanumSquareNeo";

//color
$colPrimary : #5345DB;
$colPrimaryHover : #4132CF;
$colSub:#9097F6;
$colPink : #EA7070;
$colPinkHover : #d96565;
$colBlue : #86AEEB;
$colBlueHover : #7da5e1;
$colGrayBg : #f4f5f7;

//Element UI 
$colElePrimary : #409EFF;
$colEleSuccess : #67C23A;
$colEleWarning : #E6A23C;
$colEleDanger : #F56C6C;
$colEleInfo : #909399;

//text
$textCol1 : #212529;
$textCol2 : #888;
$textCol2Hover : #777;

//size
$pc : 1440px;
$mobile : 720px;

